<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="welcomeBody">
    <div class="welcome">
      <br><br><br><br>
      <h1>Welcome to your personal gallery!</h1>
      <br><br>

      <%= link_to 'Enter', exhibits_path, class:"enterButton"%>

    </div>

  </body>
</html>
