<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="galleryBody">
    <div class="homeButton">
      <h1>Start</h1>
    </div>

    <div style="text-align:center">
      <%= link_to 'View a finished Gallery', exhibits_path, class:"galleryButton"%>
    </div>
    
  </body>
</html>
