<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="galleryBody">
    <h1>Start!</h1>
    <div style="text-align:center">
      <%= link_to 'View a finished Gallery', gallery_example_path, class:"galleryButton"%>
    </div>
  </body>
</html>
